<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link type="text/css" rel="stylesheet" href="style.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
    <title>Welcome</title>
</head>
<body>
        <nav class="navbar navbar-expand-sm bg-dark navbar-dark">
                <ul class="navbar-nav">
                  <strong><li class="nav-item navbar-brand" style="color:white;">Vellore Institute of Technology</li></strong>
                  <li class="nav-item">
                    <a href='/logout' class='btn btn-danger' style='margin-left:1100%;'>LOGOUT</a>
                  </li>
                  </ul>
                
              </nav>